<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN VIEW</title>
     <link rel="stylesheet" href="/static/paper_present.css">
</head>
<body>
     <div class="navbar">
        <nav>
            <ul>
                <li><a href="/templates/home_page.html">HOME</a></li>
                <li><a href="/templates/sumbit_paper.html">SUBMIT PAPER</a></li>
                <li><a href="/templates/view_submission.html">VIEW SUBMISSION</a></li>
                <li><a href="/templates/admin_page.html">ADMIN VIEW</a></li>
            </ul>
        </nav>
    </div>
    <h2>ALL SUBMISSIONS</h2>
    <div class="home">
      <div class="step-card" onclick="window.location.href='/templates/admin.html'">
    <div class="step-icon">💳</div>
    <div class="step-title">ADMIN LOGIN</div>
    <div class="step-desc">
      <strong>Click here to see all submissions</strong><br>Only accessed by admin <br>
      <a href="/templates/admin.html" class="step-link">click here</a>
    </div>
    </div>
    </div>
    
</body>
</html>