<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="/static/paper_present.css">
</head>
<body>
    <header><center style="display:flex;
                           justify-content: center;
                           background: #fff;">
    <img src="/image/main_logo1.webp"><p><strong>Alagappa Government Arts College
Karaikudi - 630 003,<br> Tamilnadu, India <br>Nationally Re-accredited With 'B' Grade by NAAC and Ranked 76th in NIRF 2024</strong></p>
<img src="/image/main_logo2.webp" alt=""></center></header>
     <div class="navbar">
        <nav>
            <ul>
                <li><a href="/templates/home_page.html">HOME</a></li>
                <li><a href="/templates/sumbit_paper.html">SUBMIT PAPER</a></li>
                <li><a href="/templates/view_submission.html">VIEW SUBMISSION</a></li>
                <li><a href="/templates/admin_page.html">ADMIN VIEW</a></li>
            </ul>
        </nav>
    </div>
    <center><h2>PAPER PRESENTATION EVENT</h2>
    <img src="/image/logo3.webp" width="50" height="50"></center>
    <main style="font-size: large;">
        <section>
            <p><strong>Venue:</strong>Umayal Auditorium Hall,Alagappa government arts college,karaikudi.</p>
            <p><strong>Date:</strong>June 10,2025</p>
            <p><strong>Time:</strong>09:00 AM - 05:00 PM</p>
            <p><strong>Rules & Regulations:</strong></p>
            <ul>
                <li>Each student may submit only one paper.</li>
                <li>Abstract must be within 300 words.</li>
                <li>Only Google Drive links are accepted.</li>
                <li>Arrive 30 minutes before the start.</li>
                <li>Refreshments will be served after the event.</li>
            </ul>        
            <p><strong>Organizer:</strong>Alagappa government arts college,karaikudi.</p>
        </section>
    </main>
    <center>
    <img src="/image/logo5.webp" alt="PAPER PRESENTATION">
    <footer><br><br><br><br><br><br>
        <a href="https://www.agacollege.in/">CLICK HERE <br>TO KNOW MORE ABOUT ALAGAPPA GOVT.ARTS COLLEGE</a>
         <br><br>THANK YOU <br> @2025 alagappa govt. arts college,kkdi </footer></center>
</body>
</html>