<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
     <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
      <header> <div class="logo">
  <img src="/image/logo.png"><strong>இந்திய தொழில்நுட்ப நிறுவனம் மதராஸ் <br>भारतीय प्रौद्योगिकी संस्थान मद्रास<br>Indian Institute of Technology Madras <br>
</strong><img src="/image/left_logo.png">
</div></header>
     <div class="navbar">
        <nav>
            <ul>
                <li><a href="/templates/home_page.html">HOME</a></li>
                <li><a href="/templates/sumbit_paper.html">SUBMIT PAPER</a></li>
                <li><a href="/templates/view_submission.html">VIEW SUBMISSION</a></li>
                <li><a href="/templates/admin_page.html">ADMIN VIEW</a></li>
                <li><a href="/templates/about_us.html">ABOUT US</a></li>
            </ul>
        </nav>
    </div>
     <main style="font-size: large;">
        
        <section>
            <p><strong>Venue:</strong>Umayal Auditorium Hall,Alagappa government arts college,karaikudi.</p>
            <p><strong>Date:</strong>June 10,2025</p>
            <p><strong>Time:</strong>09:00 AM - 05:00 PM</p>
            <p><strong>Rules & Regulations:</strong></p>
            <ul>
                <li>Each student may submit only one paper.</li>
                <li>Abstract must be within 300 words.</li>
                <li>Only Google Drive links are accepted.</li>
                <li>Arrive 30 minutes before the start.</li>
                <li>Refreshments will be served after the event.</li>
            </ul>        
            <p><strong>Organizer:</strong>Alagappa government arts college,karaikudi.</p>
        </section>
    </main>
</body>
</html>