<!DOCTYPE html>
<html>
<head>
    <title>Submission Successful</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="/templates/sumbit_paper.html">SUBMIT PAPER</a></li>
                <li><a href="/templates/view_submission.html">VIEW SUBMISSION</a></li>
            </ul>
        </nav>
    </div>
    <center>
        <h2 class="success-message">Thank you {{ name }}! Your submission was successful.</h2>
    </center>
</body>
</html>
