<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY SUBMISSION</title>
    <link rel="stylesheet" href="/static/paper_present.css">
</head>
<body>
     <header><center style="display:flex;
                           background: #fff;"><img src="/image/main_logo1.webp"><p><strong>Alagappa Government Arts College
Karaikudi - 630 003,<br> Tamilnadu, India <br>Nationally Re-accredited With 'B' Grade by NAAC and Ranked 76th in NIRF 2024</strong></p>
<img src="/image/main_logo2.webp" alt=""></center></header>
     <div class="navbar">
        <nav>
            <ul>
                 <li><a href="/templates/home_page.html">HOME</a></li>
                <li><a href="/templates/sumbit_paper.html">SUBMIT PAPER</a></li>
                <li><a href="/templates/view_submission.html">VIEW SUBMISSION</a></li>
                <li><a href="/templates/admin_page.html">ADMIN VIEW</a></li>
            </ul>
        </nav>
    </div>
    <h2>YOUR SUBMISSIONS</h2>
    
</body>
</html>