<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAPER PRESENTATION SUBMISSION PORTAL</title>
    <link rel="stylesheet" href="paper_present.css">
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="sumbit_paper.html">SUBMIT PAPER</a></li>
                <li><a href="view_submission.html">VIEW SUBMISSION</a></li>
                <li><a href="admin_page.html">ADMIN VIEW</a></li>
            </ul>
        </nav>
    </div>
    <header>PAPER PRESENTATION SUBMISSION PORTAL</header>
    <h2>SUBMIT YOUR PAPER PRESENTATION DOCUMENT</h2>
    <form method="POST">
        <label for="name">NAME:</label>
        <input type="text" id="name" name="student_name" required><br>
        <label for="email">EMAIL:</label>
        <input type="text" id="email" name="email" required><br>
        <label for="title">TITLE:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="abstract">ABSTRACT:</label>
        <textarea name="abstract" id="abstract" required></textarea><br>
        <button type="submit">SUBMIT:</button>
    </form>
    <footer><br>THANK YOU <br> @2025 alagappa govt. arts college,kkdi </footer>
</body>
</html>